<p>page-list-clients works!</p>
<!--

  tableau de clients à placer dans db.json
  url vers /clients

  Typer Client ( dans CoreModule)
  enum / interface / model
  ng g enum <nom>
  ng g interface <nom-i>
  ng g class <nom>

  service Clients
  ng g service <nom>
  ajouter une méthode avec appel http

  Depuis le composant PageListClients,
  appel vers la méthode dans le service
  afficher le tableau


 -->


 <!--

  ajouter un pipe pour calcul TTC
  ajouter le currency
  modifier le style de la cellule state en fonction du state (directive)
  ajouter un bouton et lui passer des infos
  dans la page add > ajouter un form
  operateur ternaire  condition ? (option1 ): option2
  null = false

  -->
