<!--
<app-header></app-header>
<app-nav></app-nav>
<router-outlet></router-outlet> -->
<header class="fixed-top">

  <button (click)='onClick()'>
    <!--
      à la place d'afficher directement une icone,
      on affiche un composant
    -->
    <app-icon-close *ngIf='!open'></app-icon-close>
    <app-icon-nav *ngIf='open'></app-icon-nav>
  </button>

  


</header>

<main [ngClass]="{'close-aside' : open}">
  <div class="shadow position-fixed">
  </div>

  <!-- ICI LE MENU -->
  <aside>
    <div class="scroller">
      <app-nav></app-nav>

    </div>
  </aside>

  <!-- ICI LA PARTIE CENTRALE DE LA PAGE -->
  <div class="page">
    <div class="contents">
      ici futures routes
      <router-outlet></router-outlet>
    </div>
    <footer>
      footer
    </footer>
  </div>

</main>
