
<!-- string interpolation -->
<h1>{{ title }}</h1>


<!-- afficher un tableau-->
<!-- <ul>
  <li *ngFor='let item of tab'>
    {{ item.client }}
  </li>
</ul> -->


<table class="table">
  <thead>
    <tr>
      <th scope="col" *ngFor='let header of headers'>
        {{ header }}
      </th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor='let obj of tab'>
      <th>Editer</th>
      <td>{{ obj.typePresta | uppercase }}</td>
      <td>{{ obj.client}}</td>
      <td> {{ obj.nbJours}}</td>
      <td> {{ obj.tjmHt}}</td>
      <td> {{ obj.tjmHt | total :obj.nbJours | currency }}</td>
      <td> {{ obj.tjmHt | total :obj.nbJours :obj.tva | currency }} </td>
      <!-- <td [ngClass]="{
        'state-cancelled': obj.state == 'CANCELLED',
        'state-option': obj.state == 'OPTION',
        'state-confirmed': obj.state == 'CONFIRMED'
      }"> {{ obj.state}}</td> -->
      <td appState [stateObj]='obj.state'>{{obj.state}}</td>
    </tr>

  </tbody>
</table>
